{% extends "layout_sidebar.html" %}
{% load static %}
{% block title %} server {% endblock %}

{% block style2 %}
<link rel="stylesheet" href="{% static 'server/css/server.css' %}">
{% endblock %}

{% block main %}
<div class="server_main">
    <h1>Название сервера</h1>
    <div class="server_info">
        <div class="server_check">
            <div class="server">
                <img src="{% static 'images/SERVER.png' %}" alt="">
                <h2>Название сервера</h2>
            </div>
            <div class="server_online"></div>
            <p class="info_online">20/100</p>
        </div>
        <div class="server_description">
            <div class="info_item">
                <h4>Версия сервера:</h4>
                <p>1.12.2 - 1.18.2 (+PE)</p>
            </div>
            <div class="info_item">
                <h4>PvP:</h4>
                <p>Разрешено</p>
            </div>
            <div class="info_item">
                <h4>Дата вайпа:</h4>
                <p>07.07.2023</p>
            </div>
            <div class="info_item">
                <h4>Размер карты:</h4>
                <p>9000x9000</p>
            </div>
            <div class="info_item">
                <h4>Сложность:</h4>
                <p>Средняя</p>
            </div>
        </div>
    </div>
    <div class="description">
        <h3>Описание</h3>
        <div class="description_text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat totam quos delectus molestiae
                consequatur, saepe magnam aut fugit deleniti cupiditate natus dignissimos eius quod sapiente laborum
                optio veritatis eaque commodi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis
                corporis dolorum est incidunt optio libero iste corrupti mollitia quis, dolores nostrum omnis ex
                repellat, ducimus pariatur perferendis deserunt, beatae error.</p>
        </div>
    </div>
    <div class="peculiarities">
        <h3>Особенности</h3>
        <div class="peculiarities_text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nihil enim qui non, perferendis
                excepturi repudiandae soluta, cumque natus perspiciatis vero voluptas alias quisquam. Obcaecati incidunt
                aliquam porro quaerat ipsa. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis corporis cum
                eligendi rem necessitatibus, vero asperiores ad mollitia quisquam natus laudantium impedit est quaerat
                assumenda quidem beatae. Officia, ipsam minus? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Fugiat cum quos quod dicta officiis velit dolorem sint a error sequi consequuntur, magnam modi sunt nisi
                dolorum quia maiores voluptas magni.</p>
        </div>
    </div>
</div>
{% endblock %}