.vscode/
/.env
/.cnf
staticfiles/media/
staticfiles/prod/
static/
venv/
*/*/*/migrations/
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
db.sqlite3
/SomSite/settings/prod.py
.vscode/
/.env
media/
static/
venv/
*/migrations/
*/*/migrations/
*/*/*/migrations/
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__/
db.sqlit