{% extends "layout_sidebar.html" %}
{% load static %}
{% block title %} server {% endblock %}
{% block style2 %}
    <link rel="stylesheet" href="{% static 'css/server.css' %}">
{% endblock %}

{% block main %}
    <div class="server_main">
        <h1>{{ server.server_name }}</h1>
        <div class="server_info">
            <div class="server_check">
                <div class="server">
                    <img src="/media/{{ server.server_img }}" alt="">
                    <h2>{{ server.server_name }}</h2>
                </div>
                <div class="server_online"></div>
                <p class="info_online">{{ api.Players }}/{{ api.MaxPlayers }}</p>
            </div>
            <div class="server_description">
                <div class="info_item">
                    <h4>Версия сервера:</h4>
                    <p>{{ server.minecraft_version }}</p>
                </div>
                <div class="info_item">
                    <h4>PvP:</h4>
                    <p>Разрешено</p>
                </div>
                <div class="info_item">
                    <h4>Дата вайпа:</h4>
                    <p>07.07.2023</p>
                </div>
                <div class="info_item">
                    <h4>Размер карты:</h4>
                    <p>9000x9000</p>
                </div>
                <div class="info_item">
                    <h4>Сложность:</h4>
                    <p>Средняя</p>
                </div>
            </div>
        </div>
        <div class="description">
            <h3>Описание</h3>
            <div class="description_text">
                <p>{{ server.server_description }}</p>
            </div>
        </div>
        <div class="peculiarities">
            <h3>Особенности</h3>
            <div class="peculiarities_text">
                <p>{{ api.HostName }}</p>
            </div>
        </div>
    </div>
{% endblock %}