{% extends "layout_sidebar.html" %}
{% load static %}
{% block title %} try {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
        <img src="{% static 'images/1кот.jpg' %}">
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-8 col-xl-8">
            <img src="{% static 'images/2кот.jpeg' %}">
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
            <img src="{% static 'images/3кот.jpg' %}" >
        </div>
    </div>
</div>
<p>biba</p>
{% endblock %}
