.download{
    background-color: #eee3a5;
    border-radius: 15px;
    padding: 30px 60px;
    width: 70%;
    max-height: 350px;
}

.download_title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 155px;
}

.lwa_main {
    /*display: flex;
    flex-direction: column;
    /*text-align: center;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /*width: 600px;*/
    margin:0 auto;
}

.lwa{
    border-style: solid;
    border-color:#e78a70;
    border-radius: 15px;
    padding: 10px;
    margin: 15px 7px 0 7px;
    cursor: pointer;
}

.lwa:hover{
    background-color: #ddd294;
    transition-duration: 0.4s;
}