.content{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.registration{
    background-color: #eee3a5;
    border-radius: 15px;
    padding: 30px 60px;
    width: 70%;
    max-height: 490px;
}

.login{
    background-color: #eee3a5;
    border-radius: 15px;
    padding: 30px 60px;
    width: 70%;
    max-height: 320px;
}

.registr_title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 215px;
}

.login_title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 115px;
}

.form_group{
    margin-bottom: 20px;
}

.form_group label, .form_group input {
      display: block;
      width: 100%;
}

.form_group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form_group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.form_button {
    background-color: #e78a70;
    border: none;
    padding: 14px 45px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    border-radius: 15px;
    margin: 0 auto;
    cursor: pointer;
}

.form_button:hover{
    box-shadow: 1px 1px 62px -6px rgba(226, 79, 84, 0.59);
    color: white;
    background-color: #e14950;
    transition-duration: 0.4s;
}

.sidebar{
    background-color: #e78a70;
    border-radius: 15px;
    width: 30%;
    padding: 30px 20px;
}

.sidebar_item{
    background-color: #eee3a5;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 15px;
    cursor: pointer;
}
.sidebar_item h2{
    font-weight: 400;
}

.sidebar_item:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

.sidebar_item img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: block;
    margin: auto 0;
}

h2{
    font-size: 20px;
    font-weight: 700;
    margin: auto 0;
}

.servers_title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    width: 160px;
}
