{% extends "main/layout.html" %}
{% load static %}
{% block title %} server {% endblock %} 

{% block style %} 
<link rel="stylesheet" href="{% static 'main/css/server.css' %}">
{% endblock %}

{% block content %} 
    <section class="main">
        <div class="container">
            <div class="content">
                <div class="server_main">
                    <h1>Название сервера</h1>
                    <div class="server_info">
                        <div class="server_check">
                            <div class="server">
                                <img src="{% static 'general/images/server.png' %}" alt="">
                                <h2>Название сервера</h2>
                            </div>
                            <div class="server_online"></div>
                            <p class="info_online">20/100</p>
                        </div>
                        <div class="server_description">
                            <div class="info_item">
                                <h4>Версия сервера:</h4>
                                <p>1.12.2 - 1.18.2 (+PE)</p>
                            </div>
                            <div class="info_item">
                                <h4>PvP:</h4>
                                <p>Разрешено</p>
                            </div>
                            <div class="info_item">
                                <h4>Дата вайпа:</h4>
                                <p>07.07.2023</p>
                            </div>
                            <div class="info_item">
                                <h4>Размер карты:</h4>
                                <p>9000x9000</p>
                            </div>
                            <div class="info_item">
                                <h4>Сложность:</h4>
                                <p>Средняя</p>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <h3>Описание</h3>
                        <div class="description_text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat totam quos delectus molestiae consequatur, saepe magnam aut fugit deleniti cupiditate natus dignissimos eius quod sapiente laborum optio veritatis eaque commodi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis corporis dolorum est incidunt optio libero iste corrupti mollitia quis, dolores nostrum omnis ex repellat, ducimus pariatur perferendis deserunt, beatae error.</p>
                        </div>
                    </div>
                    <div class="peculiarities">
                        <h3>Особенности</h3>
                        <div class="peculiarities_text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nihil enim qui non, perferendis excepturi repudiandae soluta, cumque natus perspiciatis vero voluptas alias quisquam. Obcaecati incidunt aliquam porro quaerat ipsa. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis corporis cum eligendi rem necessitatibus, vero asperiores ad mollitia quisquam natus laudantium impedit est quaerat assumenda quidem beatae. Officia, ipsam minus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat cum quos quod dicta officiis velit dolorem sint a error sequi consequuntur, magnam modi sunt nisi dolorum quia maiores voluptas magni.</p>
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="servers_title">
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.0968 5.18146C25.9755 4.93914 25.7892 4.73536 25.5587 4.59293C25.3282 4.4505 25.0625 4.37504 24.7916 4.375H10.2082C9.65553 4.375 9.15095 4.68708 8.90303 5.18146L3.0697 16.8481C2.96831 17.0507 2.91553 17.2742 2.91553 17.5007C2.91553 17.7273 2.96831 17.9507 3.0697 18.1533L8.90303 29.82C9.15095 30.3129 9.65553 30.625 10.2082 30.625H24.7916C25.3443 30.625 25.8489 30.3129 26.0968 29.8185L31.9301 18.1519C32.0315 17.9493 32.0843 17.7258 32.0843 17.4993C32.0843 17.2727 32.0315 17.0493 31.9301 16.8467L26.0968 5.18146ZM28.2653 16.0417H16.9428L12.5678 7.29167H23.8903L28.2653 16.0417ZM6.00532 17.5L10.2082 9.09417L14.4112 17.5L10.2082 25.9058L6.00532 17.5ZM23.8903 27.7083H12.5678L16.9428 18.9583H28.2653L23.8903 27.7083Z" fill="black"/>
                        </svg>
                        <h1>Сервера</h1>
                    </div>
                    <div class="sidebar_items">
                        <div class="sidebar_item">
                            <img src="{% static 'general/images/server.png' %}" alt="">
                            <h2>Название</h2>
                        </div>
                        <div class="sidebar_item">
                            <img src="{% static 'general/images/server.png' %}" alt="">
                            <h2>Название</h2>
                        </div>
                        <div class="sidebar_item">
                            <img src="{% static 'general/images/server.png' %}" alt="">
                            <h2>Название</h2>
                        </div>
                        <div class="sidebar_item">
                            <img src="{% static 'general/images/server.png' %}" alt="">
                            <h2>Название</h2>
                        </div>
                        <div class="sidebar_item">
                            <img src="{% static 'general/images/server.png' %}" alt="">
                            <h2>Название</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}