.container1{
    margin: 0 auto 40px auto;
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
}


.main{
    background-color: #eee3a5;
    border-radius: 15px;
    padding: 30px;
    display: flex;

    weight: 70%;
    flex-direction: column;
    width: 70%;

}

.main1{
    background-color: #eee3a5;
    border-radius: 15px;
    padding: 30px;
    display: flex;

    weight: 70%;
    flex-direction: column;
    width: 70%;
    height: 450px;

}

.form_group{
    border-radius: 15px;
    width: 500px;
    height: 50px;
    margin-bottom: 30px;
    font-size: 18px;

}

.form1{
    margin-left: 20%;
    margin-top: 50px;
    justify-content: space-between;


}

.serv_column{
    background-color: #eee3a5;
    border-radius: 15px;
    padding: 30px;
    margin: 0px 0px 0px 50px;
    width: 570px;
}



.uniq{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.uniq img{
    width: 150px;
    height: 150px;
}
.uniq h1{
    margin-bottom: 17px;
}
.money{
    display: flex;
    justify-content: start;
    gap: 10px;
    max-width: 70px;
    margin-bottom: 4px;
}

.servers_button{
    background-color: #e78a70;
    border: none;
    padding: 10px;
    font-family: "Roboto";
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 250px;
    cursor: pointer;
}

.servers_button:hover{
    box-shadow: 1px 1px 62px -6px rgba(226, 79, 84, 0.59);
    color: white;
    background-color: #e14950;
    transition: transform 4s ease-in-out 1s;
}

.functions_button{
    background-color: #e78a70;
    border: none;
    padding: 10px;
    font-family: "Roboto";
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20%;
    width: 250px;
    cursor: pointer;
}
.functions_button:hover{
    box-shadow: 1px 1px 62px -6px rgba(226, 79, 84, 0.59);
    color: white;
    background-color: #e14950;
    transition: transform 4s ease-in-out 1s;
}
.uniq_2_img form{
    text-align: center;
    margin-top: 10px;
}
.change{
    width: 200px;

}
.uniq_2{
    display: flex;
    justify-content: start;
    gap: 30px;
}
.info_main{
    font-size: 20px;
    margin-bottom: 15px;
}
.info{
    margin-bottom: 5px;
}
/*.button_install{
    background-color: #e78a70;
    border: none;
    padding: 15px;
    font-family: "Roboto";
    font-size: 24px;
    border-radius: 15px;
    width: 200px;
    font-weight: 700;
    cursor: pointer;
}*/

.uniq_2_info_button{
    margin: 0 auto;
}
.uniq_2_info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}


.download {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 600px;
    margin:0 auto;
}

img.os {
    width: 210px;
    height: 210px;
    border-radius: 15px;
}

.lwa{
    border-style: solid;
    border-color:#e78a70;
    border-radius: 15px;
    padding: 10px;
    margin: 15px 7px 0 7px;

}
.sidebar{
    background-color: #e78a70;
    border-radius: 15px;
    width: 30%;
    padding: 30px 20px;
}

.sidebar_item{
    background-color: #eee3a5;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 15px;
    cursor: pointer;
}
.sidebar_item h2{
    font-weight: 400;
}

.sidebar_item:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

.sidebar_item img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: block;
    margin: auto 0;
}

.servers_title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    width: 160px;
}

.mods_title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    width: 260px;
}
