.servers{
    background-color: #eee3a5;
    border-radius: 15px;
    padding: 30px;
}
.servers_version{
    margin-bottom: 15px;
}
.servers_title{
    display:flex;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    width: 270px;
}
.servers_item{
    /*background-color: #e78a70;*/
    background-color: #ea8569;
    border-radius: 15px;
    padding: 20px;
    width: 363px;
}
.servers_item:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    background-color: #e08167;
}

.servers_items{
    margin-bottom: 40px;
}
.servers_items img{
    border-radius: 50%;
    width: 80px;
}
.server{
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 15px;
}
h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.server_info p{
    font-size: 18px;
}
.server_online{
    height: 25px;
    background-color: #eecd91;
    border-radius: 15px;
    margin-bottom: 5px;
}
.server_online::before{
    content: "";
    display: block;
    width: 20%;
    height: 100%;
    background-color: #e3615c;
    border-radius: 15px;
}
.info_online{
    text-align: right;
    font-size: 18px;
}

.servers_items{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px 10px;
}
